<div class="section-container">
  <form class="form-register font-size18 bold700" action="/save-author" method="post">
    <h1>Cadastro de autores</h1>
    <label for="">Nome do autor</label>
    <input class="font-size16" type="text" name="nome">
    <p><span class="regular400"> O ID do autor será </span>{{largest_id}}</p><br>
    </select>
    <button class="bold700 font-size16 btn-register" type="submit">Registrar</button>
  </form>
</div>