<div>
  <h1>Nome do livro: {{choicedBook.nome}}</h1>
  <p><span class="bold700">Autor:</span> {{choicedBook.nome_author}}</p>
  <p><span class="bold700">Genero: </span> {{choicedBook.genero}}</p>
  <p><span class="bold700">Data de lançamento: </span> {{choicedBook.data_publicacao}}</p>
</div>